@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .incentive-svg path {
    fill: #fcca02;
  }

  .incentive-svg{
    width: 60px;
    height: 60px;
    margin-top: 20px;
}
}

:root {
  --header-color: #161b22;
  --header-height: 80px;
  --blue-color: #091F44;
  --yellow-color: #fcc902;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Crimson Text', serif;
  color-scheme: light only;
}

html,
#root, 
body {
  height: auto;
}

body {
  margin: 0;
  background-color: rgb(255, 255, 255);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 44px;
}

h2{
  font-size: 34px;
}
