@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .incentive-svg path {
    fill: #fcca02;
  }

  .incentive-svg {
    width: 60px;
    height: 60px;
    margin-top: 20px;
  }

  .cart-container {
    transition: opacity 300ms ease-in-out, transform 0ms ease-in-out 300ms;
    transform: translateY(-100%);
  }

  .show-cart-container {
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 300ms ease-in-out, transform 0ms ease-in-out 0ms;
  }


}

:root {
  --header-color: #161b22;
  --header-height: 80px;
  --blue-color: #091F44;
  --yellow-color: #fcc902;
  --white-color: #FAFAFA;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Crimson Text', serif;
  color-scheme: light only;
}

html,
#root,
body {
  min-height: 100vh;
}

:root {
  color-scheme: light only;
}

body {
  margin: 0;
  background-color: var(--white-color) !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e2e8f0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 34px;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #929497;
}

body::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
}

.presentation span {
  background: linear-gradient(to right, #ffcb7e, #b7f9e9);
  padding: 0.125em 0.25em;
  border-radius: 0.25em;

  --webkit-box-decoration-break: clone;
  box-decoration-break: clone;

}

.presentation h2 {
  display: inline;
  line-height: 0.75;
  width: min-content;

  padding: 0 0.0625em;
  background-image: linear-gradient(to right, #ffcb7e, #b7f9e9);
  background-size: 100% 30%;
  background-repeat: no-repeat;
  background-position: 0 90%;
}

.presentation p {
  font-size: 1.2rem;
  line-height: 30px;
}

.banner::before {
  width: 500px;
  height: 300px;
  content: '';
  background-image: linear-gradient(70deg, #DC422A, orange);
  position: absolute;
  z-index: -1;
  border-radius: 20% 30% 80% 10%;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
}

.testimonials::before {
  width: 500px;
  height: 300px;
  content: '';
  background-image: linear-gradient(70deg, var(--blue-color), red);
  position: absolute;
  z-index: -1;
  border-radius: 10% 80% 80% 90%;
  filter: blur(150px);

  top: 30%;
  left: 0px;
  transition: 1s;
}