@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .incentive-svg path {
    fill: #fcca02;
  }

  .incentive-svg {
    width: 60px;
    height: 60px;
    margin-top: 20px;
  }

  .cart-container {
    transition: opacity 300ms ease-in-out, transform 0ms ease-in-out 300ms;
    transform: translateY(-100%);
  }

  .show-cart-container {
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 300ms ease-in-out, transform 0ms ease-in-out 0ms;
  }


}

:root {
  --header-color: #161b22;
  --header-height: 80px;
  --blue-color: #091F44;
  --yellow-color: #fcc902;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Crimson Text', serif;
  color-scheme: light only;
}

html,
#root,
body {
  height: auto;
}

:root {
  color-scheme: light only;
}

body {
  margin: 0;
  background-color: rgb(255, 255, 255);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e2e8f0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 34px;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #929497;
}

body::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
}