@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

:root {
    --header-color: #c62828 ;
}

header {
    width: 100%;
    display: flex;
    align-items: center; justify-content: space-between;
    background-color: var(--header-color);
    box-shadow: 0 2px 12px rgb(0, 0, 0, 0.5);
    font-size: 50px; font-weight: bolder;
    padding: 0.5rem 8%;
    color: white;
    font-family: 'Crimson Text', serif;
}

/*-------------------------------------- Chart Icon */

.cart-icon-header-number {
    display: flex;
    gap: 10px;
    position: relative;
    z-index: 2;
}

.cart-icon-header-number .number-cart-header{
    background-color: white;
    font-size: 16px;
    color: rgb(35, 35, 35);
    width: 29px;
    height: 29px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: -14px; right: -25px;
}

.cart-icon-header-number .cart-icon-header {
    height: 40px; width: 40px;
    display: flex;
    align-items: center; justify-content: center;
}

/*-------------------------------------- Navbar Icon */

.display-navbar {
    display: none;
    align-items: center; justify-content: center;
    cursor: pointer;
}

svg {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.cart-svg {
    height: 100%;
    width: 100%;
}

/*-------------------------------------- Close Navbar Icon */

.hide-navbar {
    display: flex;
    align-items: center; justify-content: center;
    cursor: pointer;
}

.button-navbar {
    width: 50px; height: 50px;
    border: 3px solid white;
    border-radius: 5px;
}

/* Link cart */
.link-cart {
    color: white;
}