@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

:root {
    --header-color: #c62828 ;
}

header {
    width: 100%;
    display: flex;
    align-items: center; justify-content: space-between;
    background-color: var(--header-color);
    box-shadow: 0 2px 12px rgb(0, 0, 0, 0.5);
    font-size: 40px; font-weight: bolder;
    padding: 1rem 5%;
    color: white;
    font-family: 'Crimson Text', serif;
}

/*-------------------------------------- Chart Icon */

.cart-icon-header-number {
    display: flex;
    gap: 10px;
}

.cart-icon-header-number .number-cart-header{
    background-color: white;
    font-size: 16px;
    color: rgb(35, 35, 35);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cart-icon-header-number .cart-icon-header {
    height: 28px; width: 28px;
    display: flex;
    align-items: center; justify-content: center;
}

/*-------------------------------------- Navbar Icon */

.display-navbar {
    width: 45px; height: 40px;
    border: 2px solid white;
    border-radius: 5px;
    display: none;
    align-items: center; justify-content: center;
    cursor: pointer;
}

svg {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

/*-------------------------------------- Close Navbar Icon */

.hide-navbar {
    width: 45px; height: 40px;
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    align-items: center; justify-content: center;
    cursor: pointer;
}