.cardItemPromotion{
    height: 100%;
    width: 100%;
    background-color: #fcc902;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    padding-bottom: 30px;
}

.cardItemPromotion img {
    width: 200px;
    height: auto;
    transition: transform 250ms ease-in-out;
}

.cardItemPromotion:hover img {
    transform: scale(1.1);
}

.section_promotion{
    font-size: 24px;
    font-weight: 600;
}

.offer_duration{
    font-size: 20px;
}

@media (max-width: 750px) {
    .section_promotion{
        font-size: 20px;
    }
    
    .offer_duration{
        font-size: 16px;
    }

    .cardItemPromotion img {
        width: 180px;
        height: auto;
    }
}

@media (max-width: 500px) {
    .cardItemPromotion{
        flex-direction: row;
    }

    .section_promotion{
        font-size: 18px;
    }
    
    .offer_duration{
        font-size: 16px;
    }
}

@media (max-width: 400px) {
    .cardItemPromotion{
        padding: 0px;
    }

    .cardItemPromotion img {
        width: 150px;
        height: auto;
    }
}