.card {
    /*width: 400px; height: 350px;*/
    width: 100%; height: 100%;
    display: grid;
    grid-template-columns: max-content minmax(300px, 1fr); 
    grid-template-rows: minmax(0, 1fr);
    gap: 10px;
    background-color: rgb(254, 254, 254);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 6px;
}

.card .product-data{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 10px;
}

.card .price-product{
    position: absolute; top: -20px; left: -20px;
    background-color: #fcc902;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center; justify-content: center;
}

.card img {
    width: auto; height: 230px;
}

.card .name-product{
    display: flex; align-items: center; justify-content: space-evenly;
    font-size: 25px;
    text-align: center;
    font-weight: 600;
}

/*------------------------------------ Increase Decrease section */

.card .card-decrase-increase{
    display: flex;
    align-items: center; justify-content: center;
    gap: 10px;
    margin: 10px 0px 15px 0px;
}

.button-IncDec{
    height: 30px; width: 30px;
    border-radius: 50%;
    border: none;
    color: rgb(3, 46, 126);
    display: flex;
    align-items: center; justify-content: center;
    cursor: pointer;
}

.number-products {
    border: 1px solid black;
    width: 50px; height: 30px;
    display: flex;
    align-items: center; justify-content: center;
    font-size: 20px;
    border-radius: 20px;
}

/*------------------- Add products */

.add-to-cart{
    width: 100px;
    border-radius: 10px;
    border: 1px solid #ff8f00;
    background-color: #ffa41c;
    font-size: 16px; font-weight: 600;
    cursor: pointer;
    padding: 6px;
}

.review{
    width: 100px;
    background-color: #091F44;
    color: white;
    padding: 6px;
    border-radius: 10px;
    font-weight: 600;
    margin-top: 10px;
    text-align: center;
}

@media (max-width: 600px) {
    .card {
        /*EL valor menor de la columna permite que la carta se reduzca
        tanto vertical como horizontalmente.*/
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr)); 
        grid-template-rows: repeat(auto-fit, minmax(0px, 1fr));
        grid-auto-rows: minmax(0px, 1fr);
    }

    .card img {
        width: 100%;
        max-width: 230px; 
        height: auto;
        align-self: center;
        justify-self: center;
    }

    .card .name-product{
        display: flex; align-items: center; justify-content: space-evenly;
        font-size: 18px;
    }
}