.card-cart {
    display: flex; flex-flow: row;
    align-items: center; justify-content: space-between;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    position: relative;
    font-size: 10px;
    color: black;
}

.name-price-quantity{
    display: flex; flex-flow: row;
    flex: 1;
    justify-content: space-evenly; align-items: center;
}

.image-cart{
    height: 110px;
    width: auto;
}

.name-cart {
    font-weight: 600;
}

.remove-product {
    display: flex;
    width: 15px; height: 15px;
    position: absolute;
    top: 2px; right: 5px;
    z-index: 10;
    opacity: 0;
    cursor: pointer;
}

.card-cart:hover .remove-product{
    opacity: 1;
}