.categories-list{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.categories-list div {
    padding: 5px 10px;
    height: min-content;
    margin-right: 10px;
    border-radius: 10px;
}

.category-item:hover{
    background-color: #ffffff;
    color: black;
}

.selected{
    background-color: #fcc902;
    color: black;
}