.categories-list{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.categories-list div {
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.category-item:hover{
    background-color: #ffffff;
    color: black;
}

.selected{
    background-color: #fcc902;
    color: black;
}

@media (max-width: 480px) {
    .categories-list{
        flex-direction: column;
        justify-content: space-evenly;
    }

    .categories-list div {
        padding: 5px;
        margin-right: 0px;
        margin-top: 2px;
    }
}