@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

:root {
    --header-color: #c62828 ;
}

header {
    width: 100%;
    display: flex;
    align-items: center; justify-content: space-between;
    background-color: var(--header-color);
    box-shadow: 0 2px 12px rgb(0, 0, 0, 0.5);
    font-size: 50px; font-weight: bolder;
    padding: 0.5rem 8%;
    color: white;
    font-family: 'Crimson Text', serif;
    position: relative;
}