.incentives{
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: minmax(250px, 1fr);
    padding: 40px 100px;
    gap: 40px;
}

@media (max-width: 1050px) {
    .incentives{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        padding: 40px 50px;
    }
}

@media (max-width: 760px) {
    .incentives{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}