*{
    list-style: none;
    text-decoration: none;
}

.navbar {
    width: 14rem; height: 300px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    background-color: rgb(49, 46, 46);
    position: absolute;
    z-index: 20;
    transition: transform 250ms ease-in-out;
    left: 0px;
    transform: translateX(-100%);
    top: 100%;
}

.show-navbar{
    transform: translateX(0%);
}

.navbar-options, .link {
    color: white;
    height: 100%; width: 120px;
    display: flex; flex-flow: column;
    justify-content: space-evenly; align-items: flex-start;
    font-size: 1.5rem; font-weight: 600;
}

.navbar-options .option {
    display: flex;
    flex-flow: row;
    justify-content: center; align-items: center;
    gap: 10px;
    cursor: pointer;
}

.svg-home,
.svg-shop {
    width: 28px; height: 28px;
}

svg {
    width: 100%; height: 100%;
}