.price-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.prices-range{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0px 120px;
    align-items: center;
    justify-content: center;
}

.value{
    margin-left: 30px;
    width: 60px;
}

#slider{
    -webkit-appearance: none;
    width: 300px;
    height: 15px;
    outline: none;
    border-radius: 10px;
    overflow: hidden;
}

/*Se selecciona el selector*/
/*Se hace invisible para poder agregar uno personalizado*/
#slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    z-index: 3;
    cursor: pointer;
    background-color: #fcc902;
    border-radius: 20px;
    box-shadow: -407px 0 0 400px #fcc902; /*Box shadow simula progress
    bar al darlo un offset lejano y un ancho largo, además de que el slider
    debe contener overflow hidden*/
    border: 3px solid #000000;
}

@media (max-width: 1000px) {
    .prices-range{
        flex-direction: column;
        padding: 0px 30px;
    }
    
    .value{
        margin-left: 0px;
        margin-top: 10px;
    }

    #slider{
        width: 100%;
        height: 12px;
    }

    #slider::-webkit-slider-thumb{
        height: 12px;
        width: 12px;
    }
}