.shop-filter{
    width: 100%;
    position: sticky;
    top: var(--header-height);
    z-index: 5;
    background-color: #091F44;  
    color: white;
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    justify-content: center;
    padding: 15px 0px;
}

.shop-filter h3{
    font-size: 33px;
    margin-bottom: 5px;
}

.shop-filter div {
    font-size: 20px;
    font-weight: 600;
}