.shop-page {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.shop-page .shop-page {
    width: 100%;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    justify-content: center;
}

.shop-page .shop-title {
    margin-top: 10px;
    font-size: 70px;
    color: rgb(49, 49, 49);
    font-weight: 600;
}
