.shop-page {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin-top: var(--header-height);
    background-color: white;
}

.shop-page .shop-page {
    width: 100%;
    padding: 50px 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(500px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    justify-content: center;
    margin: 0px;
}

.shop-page .shop-title {
    font-size: 70px;
    font-weight: 600;
    background-color: #091F44;  
    color: white;
    padding: 20px 0px;
}

.no-items{
    font-size: 50px;
    font-family: 600;
    align-self: center;
}

@media (max-width: 800px) {
    .shop-page .shop-page {
        padding: 50px 40px;
    }
}

@media (max-width: 720px) {
    .shop-page .shop-page {
        grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    }
}
