@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

.testimonial-card{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: white;
    color: black;
    padding: 10px 20px;
}

.testimonial-border,
.testimonial-quote,
.testimonial-quote{
    position: absolute;
}

.testimonial-border{
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    border: 4px solid black;
}

.testimonial-quote{
    width: 40px;
    height: 40px;
    font-family: 'Secular One', sans-serif;
    border-radius: 50%;
    border: 4px solid black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.quote-up{
    top: -20px;
    left: -20px;
}

.quote-down{
    bottom: -20px;
    right: -20px;
    transform: rotate(180deg);
}

.testimonial-card h3 {
    margin-bottom: 10px;
}

.testimonial-card #testimonial-text{
    font-size: 16px;
    text-align: justify;
    font-weight: 100;
}