@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Crimson Text', serif;
}

html,
#root, 
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: rgb(241, 230, 230);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 44px;
}

h2{
  font-size: 34px;
}
