.cart-container{
    transition: opacity 300ms ease-in-out, transform 0ms ease-in-out 300ms;
    transform: translateY(-100%);
}

.show-cart-container{
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 300ms ease-in-out, transform 0ms ease-in-out 0ms;
}

.cart {
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.show-cart{
    transform: translateX(0%);
}

.cart-scrollbar::-webkit-scrollbar {
    width: 4px;          
}
  
.cart-scrollbar::-webkit-scrollbar-track {
    background: #929497;     
}
  
.cart-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);   
    border-radius: 20px;    
}

