.shop {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin-top: var(--header-height);
    background-color: white;
}

.shop-cards {
    width: 100%;
    padding: 50px 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(500px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    justify-content: center;
    margin: 0px;
}

.shop-title {
    font-size: 70px;
    font-weight: 600;
    background-color: #091F44;  
    color: white;
    padding: 20px 0px;
    text-align: center;
}

.no-items{
    font-size: 50px;
    font-family: 600;
    align-self: center;
}

@media (max-width: 800px) {
    .shop-cards {
        padding: 50px 40px;
    }
}

@media (max-width: 600px) {
    /*La media query cambia valores mínimos para que la tarjeta se acomode.
    Se debe cuidar que el valor mínimo trabaje bien con la imagen y columna 
    de la tarjeta*/
    .shop-cards {
        grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(0px, 1fr));
        padding: 50px 20px;
    }
}