.shop-filter{
    width: 100%;

    z-index: 5;
    background-color: #091F44;  
    color: white;
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    justify-content: center;
    padding: 15px 10px;
}

.shop-filter div {
    font-size: 20px;
    font-weight: 600;
}

.shop-filter h3{
    margin-bottom: 10px;
    text-align: center;
}

@media (max-width: 800px) {
    .shop-filter h3{
        font-size: 24px;
    }
    
    .shop-filter div {
        font-size: 16px;
    }

    .shop-filter h3{
        margin-bottom: 10px;
    }
}


@media (max-width: 480px) {
    /*Media query coincide con la de Categories*/
    .shop-filter h3{
        margin-bottom: 0px;
    }

    .shop-filter{
        padding-bottom: 10px;
    }
}